<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MC Goat Controls</title>
</head>
<body>

<h1>CONTROLS:</h1>

<h3>Front Positive Motor:</h3>
<a href="/frontpos_on">On</a>
<a href="/frontpos_off">Off</a>

<h3>Front Negative Motor:</h3>
<a href="/frontneg_on">On</a>
<a href="/frontneg_off">Off</a>

<h3>Back Positive Motor:</h3>
<a href="/backpos_on">On</a>
<a href="/backpos_off">Off</a>

<h3>Back Negative Motor:</h3>
<a href="/backneg_on">On</a>
<a href="/backneg_off">Off</a>

</body>
</html>
